<div id="skills-list">
    <!-- Сюда будут добавлены секции навыков -->
</div>
<button id="add-skill-btn" class="btn btn-secondary">Add Skill</button>

<script id="skill-item-template" type="text/template">
    <div class="skill-item">
        <form class="skill-form">
            <div class="form-group">
                <label>Навык</label>
                <input type="text" class="form-control skill-name-input" required />
            </div>
            <button type="submit" class="save-skill-btn btn btn-primary">Сохранить</button>
            <button type="button" class="delete-skill-btn btn btn-danger">Удалить</button>
        </form>
    </div>
</script>